.button {
    cursor: pointer;
    color: var(--primary-color)
}

.clear {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
}

.border {
    padding: 0;
    margin: 0;
    border: 1px solid var(--primary-color);
    background: none;
    outline: none;
    font-size: var(--font-l)
}
