.sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.35s;
    text-align: center;
    padding-top: 10px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.sidebar_icon {
    height: 40px;
    width: 30px;
    fill: var(--primary-color);
}
